/*
 * This is the default style of Kod. If you wish to modify this to your liking,
 * create a new stylesheet in ~/.kod/mystyle.css then tell Kod where to find it
 * by setting a configuration key:
 *
 *  $ defaults write se.hunch.kod style/url ~/.kod/mystyle.css
 *
 * You need to restart Kod for changes to take effect. Then, simply open your
 * ~/.kod/mystyle.css in Kod. This stylesheet will override the built-in default
 * style.
 *
 * When edited and saved in Kod, Kod will automatically reload the style,
 * thus you see the effect of your alterations. Note that this "auto-reloading"
 * only works when editing the stylesheet in Kod.
 */
/* Colors used by solarised */
body {
  font-family: "M+ 1m", monospace;
  font-size: 11px;
  background-color: #002b36;
  color: #839496;
}
/* color of the caret and selection range */
caret {
  color: #002b36;
}
selection {
  background-color: #073642;
}
column-guide {
  color: #93a1a1;
  /*width:4px; background: @base02;*/
}
/* the color for context lines (when specified with line ranges) */
metaruler {
  color: #93a1a1;
  background: #073642;
  border-right: 2px solid #073642;
  font-size: 11px;
}
keyword {
  color: #93a1a1;
}
type {
  color: #b58900;
}
usertype {
  color: #268bd2;
}
classname {
  color: #b58900;
}
string {
  color: #cb4b16;
  background-color: #002b36;
}
specialchar {
  color: #859900;
  background-color: #002b36;
}
regexp {
  color: #859900;
  background-color: #002b36;
}
comment {
  color: #586e75;
  font-style: italic;
}
number {
  color: #2aa198;
}
preproc {
  color: #859900;
}
symbol {
  color: #839496;
}
function {
  color: #6c71c4;
  background-color: #002b36;
}
cbracket {
  color: #839496;
}
todo {
  color: #d33682;
  font-weight: bold;
}
/* Internet related */
url {
  color: #268bd2;
  text-decoration: underline;
  cursor: pointer;
}
/* other elements for ChangeLog and Log files */
date {
  color: #F09C9F;
  font-weight: bold;
}
time, file {
  color: #A78AB0;
  font-weight: bold;
}
ip, name {
  color: #8CB194;
}
/* for Prolog, Perl, lang */
variable {
  color: #2aa198;
}
italics {
  text-decoration: underline;
  font-style: italic;
}
bold {
  color: #93a1a1;
  font-weight: bold;
}
/* for LaTeX, markdown, etc */
underline {
  color: #268bd2;
  text-decoration: underline;
}
fixed {
  color: #93a1a1;
  background-color: #073642;
}
argument, optionalargument {
  color: #dc322f;
}
math {
  color: #cb4b16;
}
bibtex {
  color: #859900;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #6c71c4;
}
ul, ol {
  color: #b58900;
}
/* for diffs */
oldfile {
  color: #f7bfb6;
  background-color: #42201C;
}
newfile {
  color: #cff7bf;
  background-color: #13340C;
}
difflines {
  color: white;
  background-color: #3D96DE;
}
/* for css */
selector {
  color: #cb4b16;
}
property {
  color: #2aa198;
}
value {
  color: #859900;
}
/* for Oz, Erlang, etc */
atom {
  color: #cb4b16;
}
meta {
  font-style: italic;
}
/* CSS v2 tests */
value > string {
  color: #2aa198;
}
object.json > pair > value > string {
  color: #b58900;
}
array.json value > string {
  color: #859900;
}
